  
}

form {
  text-align: center;
  margin: 30px 0;
}

input, textarea {
  width: 200px;
  padding: 10px;
  margin-top: 5px;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 10px;
  background-color: lightgrey;
  border: 3px solid black;
  cursor: pointer;
}

button:hover {
  background-color: darkgrey;
}

footer {
  background-color: lightgrey;
  text-align: center;
  padding: 6px;
  margin-top: 20px;
}
